{:server {:port 8080
          :host "0.0.0.0"}

 :default :plurama

 :hosts {"plurama.fly.dev"            :plurama
         "plurama.eighttrigrams.net"  :plurama
         "personalist.org"            :personalist
         "www.personalist.org"        :personalist
         "eighttrigrams.net"          :blog
         "www.eighttrigrams.net"      :blog
         "tracker.eighttrigrams.net"  :tracker}

 :apps {:plurama {:db {:type :sqlite-on-disk
                       :path "/app/data/plurama.db"}
                  :agent {:tracker {:base-url "https://tracker-ibh-lq.fly.dev"
                                    :skill   "agent/tracker-api-skill.md"}}
                  :logging {:level :info}}

        :personalist {:db {:type :sqlite-on-disk
                           :path "/app/data/personalist.db"}
                      :logging {:level :info}}

        :blog {:db {:type :sqlite-file
                    :path "/app/data/blog.db"}
               :image-base-url "https://daniel-de-oliveira.com"}

        :tracker {:db {:type :sqlite-file
                       :path "/app/data/tracker.db"}
                  :workers? true}}}
