{:server {:port 3017
          :host "127.0.0.1"}

 :default :personalist

 :hosts {"localhost"             :personalist
         "personalist.localhost" :personalist
         "personalist.org"       :personalist}

 :apps {:personalist {:db {:type :sqlite-on-disk
                           :path "../personalist/data/personalist.db"}
                      :devel {:pre-seed? false
                              :shadow? true
                              :dangerously-skip-logins? false}
                      :logging {:file "logs/personalist.log"
                                :level :debug
                                :format :human}}}}
