{:paths ["src" "resources"]
 :deps {org.clojure/clojure              {:mvn/version "1.12.5"}
        info.sunng/ring-jetty9-adapter   {:mvn/version "0.39.4"}
        nrepl/nrepl                      {:mvn/version "1.7.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1118"}
        com.github.seancorfield/honeysql  {:mvn/version "2.7.1389"}
        org.xerial/sqlite-jdbc            {:mvn/version "3.53.2.0"}
        dev.weavejester/ragtime.next-jdbc {:mvn/version "0.12.1"}
        ring/ring-core                    {:mvn/version "1.15.4"}
        ring/ring-json                    {:mvn/version "0.5.1"}
        org.clojure/data.json             {:mvn/version "2.5.2"}
        compojure/compojure               {:mvn/version "1.7.2"}
        hiccup/hiccup                     {:mvn/version "2.0.0"}
        buddy/buddy                       {:mvn/version "2.0.0"}
        clj-commons/clj-yaml              {:mvn/version "1.0.29"}
        aero/aero                        {:mvn/version "1.1.6"}
        eighttrigrams/personalist        {:local/root "../personalist"}
        eighttrigrams/blog               {:local/root "../blog"}
        eighttrigrams/tracker            {:local/root "../tracker"}
        eighttrigrams/treina             {:local/root "../treina"}
        eighttrigrams/music              {:local/root "../music"}
        eighttrigrams/cookbook           {:local/root "../cookbook"}}
 :aliases {:run {:exec-fn plurama.server/-main}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                     :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "1176afd38dc39cb1880bd990d85718d4a61e194d"}}
                   :ns-default build}}}
